@model projFront.ViewModels.EmpresaViewModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Deseja realmente deletar a empresa ?</h3>
<div>

    <hr />
    <dl class="row col-md-10">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Ie)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Ie)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.NomeCidade)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.NomeCidade)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.FaturaSerie)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.FaturaSerie)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.FaturaUltimoNumero)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.FaturaUltimoNumero)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.MensagemFisco)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.MensagemFisco)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-warning">Voltar</a>
    </form>
</div>
