@model IEnumerable<projFront.ViewModels.EmpresaViewModel>

@{
    ViewData["Title"] = "Cadastro de Empresas";
}

<h1>Empresas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Cadastrar Empresa</a>
</p>
<table class="table table-bordered table-responsive-sm">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaturaSerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaturaUltimoNumero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MensagemFisco)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEmpresa"> <img alt="Editar" class="icones_buttons_index" src="/images/pencil.svg" />  </a>
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.IdEmpresa"><img alt="Detalhes" class="icones_buttons_index" src="/images/details.png" /></a>
            </td>
            <td>
                    <a asp-action="Delete" asp-route-id="@item.IdEmpresa"><img alt="Deletar" class="icones_buttons_index" src="/images/delete.png" /></a>
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEmpresa)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaturaSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaturaUltimoNumero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MensagemFisco)
            </td>
            
        </tr>
}
    </tbody>
</table>
