@model IEnumerable<projFront.ViewModels.UsuarioViewModel>

@{
    ViewData["Title"] = "Usuário";
    
}
<style>

    h1{
        margin: 20px;
    }
</style>

<h1>Usuários</h1>

 <!-- <p>
    <a asp-action="Create" class="btn btn-primary">Cadastrar Usuário</a>
</p>-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direito)
            </th>
            <th>
                Número da Nota Atual
            </th>
            <th>
                Último Número da Nota
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direito[0].Nome)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.NumeroDaNotaAtual)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.UltimoNumeroDaNota)
            </td>
            <td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"> <img alt="Editar" class="icones_buttons_index" src="/images/pencil.svg" />  </a>
                </td>
                <td>
                    <a asp-action="AlterarSenha" asp-route-id="@item.Id"> Alterar Senha </a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id"><img alt="Deletar" class="icones_buttons_index" src="/images/delete.png" /></a>
                </td>
               
            </td>
        </tr>
}
    </tbody>
</table>
