@model projFront.ViewModels.BancoViewModel

@{
    ViewData["Title"] = "Criar Banco";
    var usuarioLogado = @ViewData["usuarioLogado"];
    var listaUsuarioLogado = @ViewData["listaUsuario"];

}

<h1>Novo Banco</h1>

<hr />

<script>
    var viewModel = @Html.Raw(Json.Serialize(Model));
</script>


<div class="card">
    <div class="card-body">
        <div class="basic-form row gy-2 gx-3 align-items-center">
            
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-auto col-sm-8">
                    <label asp-for="Nome" class="control-label"></label>
                    <input name="Nome" asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
            <div class="col-auto col-sm-4">
                    <label asp-for="Agencia" class="control-label"></label>
                <input name="Agencia" asp-for="Agencia" class="form-control" />
                    <span asp-validation-for="Agencia" class="text-danger"></span>
                </div>
            <div class="col-auto col-sm-8" >
                    <label asp-for="TipoConta" class="control-label"></label>
                    <input name="TipoConta" asp-for="TipoConta" class="form-control" />
                    <span asp-validation-for="TipoConta" class="text-danger"></span>
                </div>
            <div class="col-auto col-sm-4" >
                    <label asp-for="NumeroConta" class="control-label"></label>
                    <input name="NumeroConta" asp-for="NumeroConta" class="form-control" />
                    <span asp-validation-for="NumeroConta" class="text-danger"></span>
                </div>
            <div class="col-auto col-sm-6">
                    <label asp-for="PixChave" class="control-label"></label>
                <input name="PixChave" asp-for="PixChave" class="form-control" />
                    <span asp-validation-for="PixChave" class="text-danger"></span>
                </div>
            <div class="col-auto col-sm-6">
                    <label asp-for="PixNumero" class="control-label"></label>
                    <input name="PixNumero" asp-for="PixNumero" class="form-control" />
                    <span asp-validation-for="PixNumero" class="text-danger"></span>
                </div>

            <div class="mt-80">
                <input onclick="CadastrarBanco()" value="Cadastrar Banco" class="btn btn-success" />
                <a class="btn btn-warning" asp-action="Index">Voltar</a>
                </div>
            
         </div>
    <div>
</div>

        <div class="container text-center">
            <div class="row align-items-start">
                <div class="col">
                    <h1> Não Selecionados </h1>

                    <select name="ListaUsuariosNaoRelacionados" style="height: 200px; width: 400px;" class="form-select form-select-lg" id="ListaUsuariosNaoRelacionados" multiple>
                        @foreach (var item in Model.ListaUsuariosNaoRelacionados)
                        {
                            <option asp-for="ListaUsuariosNaoRelacionados" value="@item">@item.UserName</option>
                        }
                    </select>

                </div>
                <div class="col">
                    <button class="btn btn-warning" id="btnAdicionar">Adicionar</button>
                    <button class="btn btn-warning" id="btnRemover">Remover</button>
                </div>
                <div class="col">
                    <h1>  Selecionados </h1>
                    <select name="ListaUsuariosRelacionados" style="height: 200px; width: 400px;" class="form-select form-select-lg" id="ListaUsuariosRelacionados" multiple>
                        @foreach (var item in Model.ListaUsuariosRelacionados)
                        {
                            <option asp-for="ListaUsuarioRelacionados" value="@item">@item.UserName</option>
                        }
                    </select>
                </div>
            </div>
        </div>       

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

            <script>
                $(document).ready(function () {
                    $("#btnAdicionar").click(function () {
                        $("#ListaUsuariosNaoRelacionados option:selected").each(function () {
                            $(this).clone().appendTo("#ListaUsuariosRelacionados");

                            $(this).remove();
                        });
                    });

                    $("#btnRemover").click(function () {
                        $("#ListaUsuariosRelacionados option:selected").each(function () {
                            $(this).clone().appendTo("#ListaUsuariosNaoRelacionados");


                            


                            $(this).remove();
                        });
                    });
                });


                function CadastrarBanco() 
                {
                    var nome = document.getElementById('Nome').value;
                    var agencia = document.getElementById('Agencia').value;
                    var tipoConta = document.getElementById('TipoConta').value;
                    var numeroConta = document.getElementById('NumeroConta').value;
                    var pixChave = document.getElementById('PixChave').value;
                    var pixNumero = document.getElementById('PixNumero').value;

                    var vListaUsuariosRelacionados = document.getElementById('ListaUsuariosRelacionados');

                    const listaDeObjetosRelacionados = [];

                    console.log(vListaUsuariosRelacionados)

                    // Percorrer as opções selecionadas
                    for (let i = 0; i < vListaUsuariosRelacionados.options.length; i++) {
                        if (vListaUsuariosRelacionados.options[i]) {
                            // Criar um objeto e adicionar ao array
                            const objListaRelacionado = {
                                email: vListaUsuariosRelacionados.options[i].value
                            };
                            listaDeObjetosRelacionados.push(objListaRelacionado);
                        }
                    }
                    console.log("listaDeObjetosRelacionados")
                    console.log(listaDeObjetosRelacionados)

                    var vListaUsuariosNaoRelacionados = document.getElementById('ListaUsuariosNaoRelacionados');

                    // Criar um array para armazenar os objetos
                    const listaDeObjetosNaoRelacionados = [];

                    // Percorrer as opções selecionadas
                    for (let ii = 0; ii < vListaUsuariosNaoRelacionados.options.length; ii++) {
                        if (vListaUsuariosNaoRelacionados.options[ii]) {
                            
                            
                            var valor = vListaUsuariosNaoRelacionados.options[ii].value;
                            
                            const obj = {
                                email: valor
                            };

                            listaDeObjetosNaoRelacionados.push(obj);
                            
                        }
                    }

                    const banco = {
                        nome: nome,
                        agencia: agencia,
                        tipoConta: tipoConta,
                        numeroConta: numeroConta,
                        pixChave: pixChave,
                        pixNumero: pixNumero,
                        listaUsuariosRelacionados: listaDeObjetosRelacionados,
                        listaUsuariosNaoRelacionados: listaDeObjetosNaoRelacionados
                    }

                    console.log(banco)

                    $.ajax({
                        url: '/Bancos/Create',
                        type: 'POST',
                        data: banco,
                        success: function (response) {
                            console.log("OKKK")
                        }
                    });


                }

               
                
            
                
            </script>




}
