@model IEnumerable<projFront.ViewModels.BancoViewModel>

@{
    ViewData["Title"] = "Cadastro de Bancos";
}

<h1>Bancos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Cadastrar Banco</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoConta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroConta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PixChave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PixNumero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoConta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroConta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PixChave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PixNumero)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" > <img alt="Editar" class="icones_buttons_index" src="/images/pencil.svg" />  </a> 
                <a asp-action="Details" asp-route-id="@item.Id"><img alt="Detalhes" class="icones_buttons_index" src="/images/details.png" /></a> 
                    <a asp-action="Delete" asp-route-id="@item.Id"><img alt="Deletar" class="icones_buttons_index" src="/images/delete.png" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
