@model projFront.ViewModels.NotaFiscalViewModel

@{
    ViewData["Title"] = "Nova Nota Fiscal";
}

<h1>Nova Nota Fiscal</h1>
<hr />

<style>
    label{
        font-family: "Roboto", sans-serif;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #939999;
        text-align: left;
    }

    .titulo{
        color: #454545;
        font-weight: 800;
    }
</style>

<script>
    var viewModel = @Html.Raw(Json.Serialize(Model));

</script>

<div class="card">
    <div class="card-body">
        <div class="basic-form">

          
            <form asp-action="Create" class="row gy-2 gx-3 align-items-center">
                
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-row">
                    <div class="form-group col-auto col-sm-2">
                        <label asp-for="Cnpj" class="titulo"></label>
                        <input asp-for="Cnpj" class="form-control " id="Cnpj" name="Cnpj" onblur="RetornarUltimaNota(this.value)" placeholder="00.000.000/0000-00" alt="Cnpj da empresa" />
                        <span asp-validation-for="Cnpj" class="text-danger"></span>
                        
                    </div>

                    <div class="form-group col-auto col-sm-5">
                        <label asp-for="Nome" class="titulo" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" id="Nome" name="Nome" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>

                    <div class="form-group col-auto col-sm-2">
                        <label asp-for="Ie" class="titulo" class="control-label"></label>
                        <input asp-for="Ie" id="Ie" name="Ie" class="form-control" />
                        <span asp-validation-for="Ie" class="text-danger"></span>
                        <span  class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-2">
                        <label asp-for="NumeroTelefone" class="titulo" class="control-label"></label>
                        <input asp-for="NumeroTelefone" class="form-control" id="NumeroTelefone" name="NumeroTelefone" />
                        <span asp-validation-for="NumeroTelefone" class="text-danger"></span>
                        <span  class="text-danger"></span>
                    </div>
                  
                </div>

                <div class="form-row">

                    <div class="form-group col-auto col-sm-1">
                        <label asp-for="Cep" class="control-label titulo"></label>
                        <input asp-for="Cep" class="form-control" id="Cep" name="Cep" onblur="ConsultaCEP(this.value)" />
                        <span asp-validation-for="Cep" class="text-danger"></span>
                        <span  class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-4">
                        <label asp-for="Endereco" class="control-label titulo"></label>
                        <input asp-for="Endereco" class="form-control" id="Endereco" name="Endereco" />
                        <span asp-validation-for="Endereco" class="text-danger"></span>
                        <span  class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-1">
                        <label asp-for="Numero" class="control-label titulo"></label>
                        <input asp-for="Numero" class="form-control" id="Numero" name="Numero" />
                        <span asp-validation-for="Numero" class="text-danger"></span>
                        <span  class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-2">
                        <label asp-for="Bairro" class="control-label titulo"></label>
                        <input asp-for="Bairro" class="form-control" id="Bairro" name="Bairro" />
                        <span asp-validation-for="Bairro" class="text-danger"></span>
                        <span  class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-3">
                        <label asp-for="NomeCidade" class="control-label titulo"></label>
                        <input asp-for="NomeCidade" class="form-control" id="NomeCidade" name="NomeCidade" />
                        <span asp-validation-for="NomeCidade" class="text-danger"></span>
                        <span  class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-1">
                        <label asp-for="Uf" class="control-label titulo"></label>
                        <input asp-for="Uf" class="form-control" id="Uf" name="Uf" />
                        <span asp-validation-for="Uf" class="text-danger"></span>
                        <span  class="text-danger"></span>
                    </div>
                </div>

                <hr/>

                 <div class="form-row">
                    <div class="form-group col-auto col-sm-2">
                        <label asp-for="ValorTotal" class="control-label titulo"></label>
                        <input asp-for="ValorTotal" class="form-control" />
                        <span asp-validation-for="ValorTotal" class="text-danger"></span>
                        <span  class="text-danger"></span>
                    </div>
                
                    <div class="form-group col-auto col-sm-10">
                        <label asp-for="DescricaoServico" class="control-label titulo"></label>
                        <textarea asp-for="DescricaoServico" class="form-control" id="DescricaoServico" > </textarea>
                        <span asp-validation-for="DescricaoServico" class="text-danger"></span>
                        <span  class="text-danger"></span>
                    </div>
                </div>

                <hr />
                <div class="col-lg-3 mb-1">
                    <label class="text-label">Banco <span class="text-danger"> * </span></label>
                    <select class="custom-select mr-sm-2" id="banco" name="IdBanco" onchange="selecionaBanco()" required>
                        <option selected>Escolha o banco</option>
                        @foreach (var banco in Model.Banco)
                        {
                            <option value="@banco.IdBanco" >   @banco.Nome </option>
                        }
                    </select>
                </div>
                <!-- Dados bancários -->
                <div class="form-group col-auto col-sm-2">
                    <label asp-for="Agencia" class="control-label"></label>
                    <input asp-for="Agencia" class="form-control" id="agencia" name="agencia" disabled />
                    <span  class="text-danger"></span>
                </div>
                <div class="form-group col-auto col-sm-2">
                    <label asp-for="Conta" class="control-label"></label>
                    <input asp-for="Conta" class="form-control" id="conta" name="conta"  disabled />
                    <span  class="text-danger"></span>
                </div>
                <div class="form-group col-auto col-sm-2">
                    <label asp-for="PixChave" class="control-label"></label>
                    <input asp-for="PixChave" class="form-control" id="pixchave" name="pixchave" disabled />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group col-auto col-sm-2">
                    <label asp-for="PixNumero" class="control-label"></label>
                    <input asp-for="PixNumero" class="form-control"  id="pixnumero" name="pixnumero" disabled/>
                    <span  class="text-danger"></span>
                </div>
                <hr />
                <!-- Dados da empresa de faturamento -->                 
                    
                <div class="form-row">
                    <div class="col-lg-3 mb-1">
                        <label class="text-label">Empresa <span class="text-danger"> * </span></label>
                        <select class="custom-select mr-sm-2" id="empresa" name="IdEmpresa" onchange="selecionaEmpresa()" required>
                            <option selected>Escolha a empresa</option>
                            @foreach (var empresa in Model.Empresa)
                            {
                                <option value="@empresa.IdEmpresa">   @empresa.Nome </option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-auto col-sm-2">
                        <label asp-for="FaturaNumero" class="control-label"></label>
                        <input asp-for="FaturaNumero" class="form-control" id="faturaNumero" placeholder="000000" readonly disabled />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-2">
                        <label asp-for="FaturaSerie" class="control-label"></label>
                        <input asp-for="FaturaSerie" class="form-control" id="faturaSerie" placeholder="000000" readonly disabled />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-3">
                        <label asp-for="DataEmissao" class="control-label"></label>
                        <input asp-for="DataEmissao" id="dataEmissao" class="form-control" disabled />
                        <span class="text-danger"></span>
                    </div>
                    
                </div>
                
                <div class="form-group col-auto col-sm-10">
                    <label asp-for="MensagemFisco" class="control-label titulo"></label>
                    <textarea asp-for="MensagemFisco" id="MensagemFisco" class="form-control"> </textarea>
                    <span asp-validation-for="MensagemFisco" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Cadastrar" class="btn btn-success" />
                    <a class="btn btn-warning" asp-action="Index">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    

   /* function selecionaEmpresa()
    {

        var campoSelecao = document.getElementById('empresa');

        //var itemSelecionado = campoSelecao.options[campoSelecao.selectedIndex];

        var empresaSelecionada = viewModel.empresa[campoSelecao.selectedIndex - 1];

        console.log(empresaSelecionada);

        document.getElementById('nome').value = empresaSelecionada.nome;
        document.getElementById('ie').value = empresaSelecionada.ie;
        document.getElementById('telefone').value = empresaSelecionada.telefone;
        document.getElementById('cep').value = empresaSelecionada.cep;
        document.getElementById('endereco').value = empresaSelecionada.endereco;
        document.getElementById('numero').value = empresaSelecionada.numero;
        document.getElementById('bairro').value = empresaSelecionada.bairro;
        document.getElementById('nomeCidade').value = empresaSelecionada.nomeCidade;
        document.getElementById('UF').value = empresaSelecionada.uf;

    }*/

    function selecionaBanco() 
    {

        var campoSelecaoBanco = document.getElementById('banco');

        var bancoSelecionado = viewModel.banco[campoSelecaoBanco.selectedIndex - 1];
        
        var banco = bancoSelecionado;

        document.getElementById('agencia').value = bancoSelecionado.agencia;
        document.getElementById('conta').value = bancoSelecionado.numeroConta;
        document.getElementById('pixchave').value = bancoSelecionado.pixChave;
        document.getElementById('pixnumero').value = bancoSelecionado.pixNumero;
        
    }

    function ConsultaCEP(valor) {

        console.log(valor)

        urlBusca = "https://brasilapi.com.br/api/cep/v1/" + valor;

        console.log(urlBusca)

        // Criando um objeto XMLHttpRequest
        var xhr = new XMLHttpRequest();

        // Configurando a requisição (GET para buscar dados)
        xhr.open('GET', urlBusca);

        // Função para lidar com a resposta
        xhr.onload = function () {
            if (xhr.status === 200) {
                // Requisição bem-sucedida

                var dadosEndereco = xhr.responseText;
                var dadosEnderecoJson = JSON.parse(dadosEndereco);

                document.getElementById('Endereco').value = dadosEnderecoJson.street;
                
                document.getElementById('Bairro').value = dadosEnderecoJson.neighborhood;
                document.getElementById('NomeCidade').value = dadosEnderecoJson.city;
                document.getElementById('Uf').value = dadosEnderecoJson.state;
            } else {
                // Houve um erro
                console.error('Erro na requisição:', xhr.statusText);
            }
        };

        // Enviando a requisição
        xhr.send();
    } 
    
    function RetornarUltimaNota(cnpj)
    {
        console.log("Acessou Retorna última nota");
        console.log(cnpj);

        urlBusca = "https://localhost:7066/NotaFiscals/RetornarUltimaNota?cnpj=" + cnpj;
        console.log(urlBusca)
        // Criando um objeto XMLHttpRequest
        var xhr = new XMLHttpRequest();
        

        // Dados a serem enviados (exemplo em formato JSON)
        var data = JSON.stringify({
            cnpj: cnpj
        });

        console.log(data);

        // Configurando a requisição (GET para buscar dados)
        xhr.open('GET', urlBusca);
        xhr.setRequestHeader('Content-Type', 'application/json');

        // Função para lidar com a resposta
        xhr.onload = function () {

            console.log("Retorno")
            console.log(xhr.status)

            if (xhr.status === 200) {
                // Requisição bem-sucedida

                var dadosEndereco = xhr.responseText;
                var dadosEnderecoJson = JSON.parse(dadosEndereco);
                console.log("dadosEndereco");
                console.log(dadosEnderecoJson)

                document.getElementById('Nome').value = dadosEnderecoJson.nome;
                document.getElementById('Ie').value = dadosEnderecoJson.ie;
                document.getElementById('NumeroTelefone').value = dadosEnderecoJson.numeroTelefone;
                document.getElementById('Cep').value = dadosEnderecoJson.cep;

                document.getElementById('Endereco').value = dadosEnderecoJson.endereco;
                document.getElementById('Bairro').value = dadosEnderecoJson.bairro;
                document.getElementById('NomeCidade').value = dadosEnderecoJson.nomeCidade;
                document.getElementById('Uf').value = dadosEnderecoJson.uf;
                document.getElementById('Numero').value = dadosEnderecoJson.numero;
                

                document.getElementById('DescricaoServico').value = dadosEnderecoJson.descricaoServico;

                document.getElementById('agencia').value = dadosEnderecoJson.agencia;
                document.getElementById('conta').value = dadosEnderecoJson.conta;
                document.getElementById('pixchave').value = dadosEnderecoJson.pixChave;
                document.getElementById('pixnumero').value = dadosEnderecoJson.pixNumero;

                document.getElementById('faturaNumero').value = dadosEnderecoJson.faturaNumero;
                document.getElementById('faturaSerie').value = dadosEnderecoJson.faturaSerie;
                document.getElementById('dataEmissao').value = dadosEnderecoJson.dataEmissao;

                document.getElementById('MensagemFisco').value = dadosEnderecoJson.mensagemFisco;
                

                var campoSelecao = document.getElementById('empresa');
                campoSelecao.value = dadosEnderecoJson.idEmpresa;

                var campoSelecaoBanco = document.getElementById('banco');
                campoSelecaoBanco.value = dadosEnderecoJson.idBanco;

            } else {
                // Houve um erro
                console.error('Erro na requisição:', xhr.statusText);
            }
        };

        console.log("Enviando");
        console.log(data);
        // Enviando a requisição
        xhr.send(data);

    } 


    



</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
