@model projFront.Models.NotaFiscal

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NotaFiscal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncricaoEstadual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncricaoEstadual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroTelefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroTelefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoServico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Banco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PixChave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PixChave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PixNumero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PixNumero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEmissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEmissao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaturaSerie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaturaSerie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaturaNumero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaturaNumero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MensagemFisco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MensagemFisco)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
