@using System.Globalization
@model projFront.ViewModels.NotaFiscalViewModel

@{
    ViewData["Title"] = "Edição da Nota";
}

<h1>Editar Nota Fiscal</h1>


<hr />

<style>
    label {
        font-family: "Roboto", sans-serif;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #93939f;
        text-align: left;
    }

    .titulo {
        color: #454545;
        font-weight: 800;
    }
</style>

<script>
    var viewModel = @Html.Raw(Json.Serialize(Model));


</script>

<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        <div class="basic-form">

            <form asp-action="Edit" class="row gy-2 gx-3 align-items-center">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-row">
                    <div class="form-group col-auto col-sm-2">
                        <label asp-for="Cnpj" class="titulo"></label>
                        <input asp-for="Cnpj" class="form-control " id="cnpj" name="cnpj" placeholder="00.000.000/0000-00" alt="Cnpj da empresa" />
                        <span class="text-danger"></span>
                    </div>

                    <div class="form-group col-auto col-sm-5">
                        <label asp-for="Nome" class="titulo" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" id="nome" name="nome" />
                        <span class="text-danger"></span>
                    </div>

                    <div class="form-group col-auto col-sm-2">
                        <label asp-for="Ie" class="titulo" class="control-label"></label>
                        <input asp-for="Ie" id="ie" name="ie" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-2">
                        <label asp-for="NumeroTelefone" class="titulo" class="control-label"></label>
                        <input asp-for="NumeroTelefone" class="form-control" id="telefone" name="telefone" />
                        <span class="text-danger"></span>
                    </div>

                </div>

                <div class="form-row">

                    <div class="form-group col-auto col-sm-1">
                        <label asp-for="Cep" class="control-label titulo"></label>
                        <input asp-for="Cep" class="form-control" id="cep" name="cep" onblur="ConsultaCEP(this.value)" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-4">
                        <label asp-for="Endereco" class="control-label titulo"></label>
                        <input asp-for="Endereco" class="form-control" id="endereco" name="endereco" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-1">
                        <label asp-for="Numero" class="control-label titulo"></label>
                        <input asp-for="Numero" class="form-control" id="numero" name="numero" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-2">
                        <label asp-for="Bairro" class="control-label titulo"></label>
                        <input asp-for="Bairro" class="form-control" id="bairro" name="bairro" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-3">
                        <label asp-for="NomeCidade" class="control-label titulo"></label>
                        <input asp-for="NomeCidade" class="form-control" id="nomeCidade" name="nomeCidade" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-1">
                        <label asp-for="Uf" class="control-label titulo"></label>
                        <input asp-for="Uf" class="form-control" id="UF" name="UF" />
                        <span class="text-danger"></span>
                    </div>
                </div>

                <hr />

                <div class="form-row">
                    <div class="form-group col-auto col-sm-2">
                        <label asp-for="ValorTotal" class="control-label titulo"></label>
                        <input asp-for="ValorTotal" class="form-control" id="ValorTotal" name="ValorTotal" />
                        <span class="text-danger"></span>
                    </div>

                    <div class="form-group col-auto col-sm-10">
                        <label asp-for="DescricaoServico" class="control-label titulo"></label>
                        <textarea asp-for="DescricaoServico" class="form-control"> </textarea>
                        <span class="text-danger"></span>
                    </div>
                </div>

                <hr />
                <div class="col-lg-3 mb-1">
                    <label class="text-label">Banco <span class="text-danger"> * </span></label>
                    <select class="custom-select mr-sm-2" id="banco" name="IdBanco" onchange="selecionaBanco()" required>
                        <option selected>Escolha o banco</option>
                        @foreach (var banco in Model.Banco)
                        {
                            <option value="@banco.IdBanco">   @banco.Nome </option>
                        }
                    </select>
                </div>
                <!-- Dados bancários -->
                <div class="form-group col-auto col-sm-2">
                    <label asp-for="Agencia" class="control-label"></label>
                    <input asp-for="Agencia" class="form-control" id="agencia" name="agencia" disabled />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group col-auto col-sm-2">
                    <label asp-for="Conta" class="control-label"></label>
                    <input asp-for="Conta" class="form-control" id="conta" name="conta" disabled />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group col-auto col-sm-2">
                    <label asp-for="PixChave" class="control-label"></label>
                    <input asp-for="PixChave" class="form-control" id="pixchave" name="pixchave" disabled />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group col-auto col-sm-2">
                    <label asp-for="PixNumero" class="control-label"></label>
                    <input asp-for="PixNumero" class="form-control" id="pixnumero" name="pixnumero" disabled />
                    <span class="text-danger"></span>
                </div>
                <hr />
                <!-- Dados da empresa de faturamento -->

                <div class="form-row">
                    <div class="col-lg-3 mb-1">
                        <label class="text-label">Empresa <span class="text-danger"> * </span></label>
                        <select class="custom-select mr-sm-2" id="empresa" name="IdEmpresa" onchange="selecionaEmpresa()" required>
                            <option selected>Escolha a empresa</option>
                            @foreach (var empresa in Model.Empresa)
                            {
                                <option value="@empresa.IdEmpresa">   @empresa.Nome </option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-auto col-sm-2">
                        <label asp-for="FaturaNumero" class="control-label"></label>
                        <input asp-for="FaturaNumero" class="form-control" placeholder="000000" readonly disabled />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-2">
                        <label asp-for="FaturaSerie" class="control-label"></label>
                        <input asp-for="FaturaSerie" class="form-control" placeholder="000000" readonly disabled />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-3">
                        <label asp-for="DataEmissao" class="control-label"></label>
                        <input asp-for="DataEmissao" class="form-control" disabled />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-3">
                        <input  asp-for="UserName" class="form-control" disabled />
                        <span class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group col-auto col-sm-10">
                    <label asp-for="MensagemFisco" class="control-label titulo"></label>
                    <textarea asp-for="MensagemFisco" class="form-control"> </textarea>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-success" />
                    <a class="btn btn-warning" asp-action="Index">Voltar</a>
                </div>
            </form>

         </div>
    </div>
</div>


    <script>

        var campoSelecao = document.getElementById('empresa');
        campoSelecao.value = viewModel.idEmpresa;

    var campoSelecaoBanco = document.getElementById('banco');
        campoSelecaoBanco.value = viewModel.idBanco;


    function selecionaBanco() {

        var campoSelecaoBanco = document.getElementById('banco');

        var bancoSelecionado = viewModel.banco[campoSelecaoBanco.selectedIndex - 1];

        var banco = bancoSelecionado;

        document.getElementById('agencia').value = bancoSelecionado.agencia;
        document.getElementById('conta').value = bancoSelecionado.numeroConta;
        document.getElementById('pixchave').value = bancoSelecionado.pixChave;
        document.getElementById('pixnumero').value = bancoSelecionado.pixNumero;

    }

    function ConsultaCEP(valor) {

        console.log(valor)

        urlBusca = "https://brasilapi.com.br/api/cep/v1/" + valor;

        console.log(urlBusca)

        // Criando um objeto XMLHttpRequest
        var xhr = new XMLHttpRequest();

        // Configurando a requisição (GET para buscar dados)
        xhr.open('GET', urlBusca);

        // Função para lidar com a resposta
        xhr.onload = function () {
            if (xhr.status === 200) {
                // Requisição bem-sucedida

                var dadosEndereco = xhr.responseText;
                var dadosEnderecoJson = JSON.parse(dadosEndereco);

                document.getElementById('endereco').value = dadosEnderecoJson.street;

                document.getElementById('bairro').value = dadosEnderecoJson.neighborhood;
                document.getElementById('nomeCidade').value = dadosEnderecoJson.city;
                document.getElementById('UF').value = dadosEnderecoJson.state;
            } else {
                // Houve um erro
                console.error('Erro na requisição:', xhr.statusText);
            }
        };

        // Enviando a requisição
        xhr.send();
    }
</script>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
